footer {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--muted-foreground);
  font-size: var(--text-sm);

  a:hover {
    color: var(--color-neutral-700);
  }

  a:active {
    color: var(--accent-foreground);
  }
}

.brand {
  color: var(--color-blue-600);
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
}


.section-title {
  font-size: var(--text-base);
  color: var(--foreground);

  &.title {
    color: var(--color-blue-600);
  }
}

.footer__items {
  display: grid;
  gap: 0.5rem;
}


.copyright {
  text-align: center;
}
