footer {
  background-color: var(--color-gray-50);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--muted-foreground);
  font-size: var(--text-sm);

  a:hover {
    color: var(--color-neutral-700);
  }

  a:active {
    color: var(--accent-foreground);
  }
}

.brand {
  color: var(--color-blue-600);
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
}


.section-title {
  font-size: var(--text-base);
  color: var(--foreground);

  &.title {
    color: var(--color-blue-600);
  }
}

.footer__items {
  display: grid;
  gap: 0.5rem;
}


.copyright {
  text-align: center;
}

.footer__separator {
  border: 1px solid var(--color-neutral-200)
}

@media (min-width: 768px) {
  footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto;
  }

  .copyright {
    grid-column: 1 / -1;
  }

  .footer__separator {
    grid-column: 1 / -1;
  }

  .footer__items {
    gap: 1rem;
  }

  .brand {
    margin-bottom: -1rem;
  }
}

@media (min-width: 1024px) {

  .brand {
    margin-bottom: -2rem;
  }
}
